{% extends 'base.html.twig' %}

{% block subtitle %}Register{% endblock %}

{% block body %}

    {{ form_errors(registrationForm) }}

    <div id="form_container" class="w-50 mx-auto mt-5 d-flex flex-column justify-content-center">
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

        <button type="submit" class="btn btn-dark">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
