<div id="form_container" class="w-50 mx-auto mt-5 d-flex flex-column justify-content-center">
    <h2>{{ photo_collection.id ? "admin.gallery.form.title_edit"|trans : "admin.gallery.form.title_create"|trans }}</h2>
    {{ form_start(form) }}
        {{ form_row(form.title, {'label': "admin.gallery.form.label_title"|trans}) }}
        {% if photo_collection.cover is not null %}
            <img class="img-thumbnail" width="200" src="{{ asset('/uploads/covers/') }}{{photo_collection.cover}}" alt="{{photo_collection.cover}}">
        {% endif %}
        {{ form_row(form.cover, {'label': photo_collection.id ? "admin.gallery.form.label_update_cover"|trans : "admin.gallery.form.label_cover"|trans}) }}
        <a class="btn btn-danger" href="{{ path('admin_photo_collection_index') }}">{{ "admin.gallery.form.button_cancel"|trans }}</a>
        <button class="btn btn-dark">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
</div>