{% extends 'base.html.twig' %}

{% block subtitle %}Gallery - {{ photo_collection.title }}{% endblock %}

{% block body %}
    {% for message in app.flashes('gallery_notification') %}
        <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
           {{ message }}
           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <section id="header" class="d-flex align-items-center ms-3 gap-2">
        <h1>Gallery - {{ photo_collection.title }}</h1>
        
        <a class="btn btn-dark" href="{{ path('admin_photo_collection_edit', {'id': photo_collection.id}) }}"><i class="bi bi-pencil-square"></i></a>
        <a class="btn btn-dark" href="{{ path('admin_photo_new', {'photo_collection_id':photo_collection.id}) }}"><i class="bi bi-plus-square-fill"></i></a>
        <a class="btn btn-dark" href="{{ path('admin_photo_collection_index') }}"><i class="bi bi-list"></i></a>
        <a class="btn btn-dark disabled" href="{{ path('admin_photo_collection_show', {id: photo_collection.id}) }}" id="deleteSelected" data-turbo-frame="photos">Delete Selected Photos</a>

        {{ include('photo_collection/_delete_form.html.twig') }}
    </section>

    <turbo-frame id="photos">
        {% include "photo_collection/_photos.html.twig" with { photo_collection } %}
    </turbo-frame>

{% endblock %}
