<div id="form_container" class="w-50 mx-auto mt-5 d-flex flex-column justify-content-center">
    <h2>{{ photo.id ? "Edit Photo of Collection " ~ photo_collection.title : "Add Photos To Collection " ~ photo_collection.title }}</h2>
    {{ form_start(form) }}
        {{ form_row(form.photos) }}
        <a class="btn btn-danger" href="{{ path('admin_photo_collection_show', {'id': photo_collection.id}) }}">Cancel</a>
        <button class="btn btn-dark">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
</div>