{% extends 'base.html.twig' %}

{% block subtitle %}All Videos{% endblock %}

{% block body %}

    {% for message in app.flashes('video_notification') %}
        <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
           {{ message }}
           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <h1 id="title">All Videos</h1>

    <div class="d-flex align-items-center">
        <h4>Items per page : </h4>
        <div class="btn-group ms-3" role="group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" {{ (limit == 5 ? 'checked' : '') }}>
            <label class="btn btn-outline-primary" for="btnradio1">5</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" {{ (limit == 10 ? 'checked' : '') }}>
            <label class="btn btn-outline-primary" for="btnradio2">10</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" {{ (limit == 20 ? 'checked' : '') }}>
            <label class="btn btn-outline-primary" for="btnradio3">20</label>
        </div>
        <a class="btn btn-dark ms-4 disabled" href="{{ path('admin_video_index') }}" id="deleteSelected" data-turbo-frame="list">Delete Selected Videos</a>
    </div>

    <turbo-frame id="list">
        {% include "video/_list.html.twig" with { videosByPage: videosByPage, nb_pages: nb_pages, limit: limit, page: page } %}
    </turbo-frame>
{% endblock %}
