{% extends 'base.html.twig' %}

{% block subtitle %}All Tags{% endblock %}

{% block body %}
    {% for message in app.flashes('tag_notification') %}
        <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
           {{ message }}
           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <div class="d-flex align-items-center ms-4">
        <h1 id="title">All Tags</h1>
        <a class="btn btn-dark ms-3" href="{{ path('admin_tag_new') }}"><i class="bi bi-plus-circle"></i></a>
    </div>

    <div class="d-flex align-items-center ms-4">
        <h4>Items per page : </h4>
        <div class="btn-group ms-3" role="group">
            {% for option in limitOptions %}
                <a class="btn btn-dark pagination-option {{ option == limitOptions[0] ? 'disabled' : '' }}" data-limit={{ option }} href="{{ path('admin_tag_index', {'limit' : option }) }}" data-turbo-frame="tags_list">
                    {{ option }}
                </a>
            {% endfor %}
        </div>
        <a class="btn btn-dark ms-4 disabled" href="{{ path('admin_tag_index') }}" id="deleteSelected" data-turbo-frame="tags_list">Delete Selected Tags</a>
    </div>

    <turbo-frame id="tags_list">
        {% include "tag/_list.html.twig" with { tagsByPage: tagsByPage, nb_pages: nb_pages, limit: limit, page: page } %}
    </turbo-frame>
{% endblock %}
